$material-red: #ef5350;
$lighten-red: #ef9a9a;

html, body {
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica Neue LT Com', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

nav {
  background-color: $material-red;
  font-size: 50px;
  box-shadow: 0px 0px 0px #888888;
}

nav a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
  position: relative;
  height: calc(100vh - 64px);
  padding: 0;
  display: flex;
  align-items: center;
}

.background-image {
  left: -150px;
  background-image: url(https://papertreiger.files.wordpress.com/2012/07/toronto.jpg);
  background-size: cover;
  z-index: -1;
  position: fixed;
  display: block;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  height: 117%;
  width: 140%;
}

.sign-form {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
}

.side-bar {
  background-color: white;
  height: 100vh;
  @media (max-width: 600px) {
    height: 100%;
  }
}

.input-field input[type=text]:focus + label {
  color: $lighten-red;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid $lighten-red;
  box-shadow: 0 0px 0 0 darkgrey;
}

.input-field input[type=password]:focus + label {
  color: $lighten-red;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid $lighten-red;
  box-shadow: 0 0px 0 0 darkgrey;
}

.buttons {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.refresh {
  margin-left: 10px;
}

.center-text {
  text-align: center;
}

.chat-room {
  position: absolute;
  margin: 0 auto;
  height: 90%;
  width: 85%;
  left: 7.5%;
}

.message-box {
  height: 100%;
}

#cardimg {
  background-color: $material-red;
  height: 100px;
  color: white;
  span {
    font-size: 37px;
    position: absolute;
    bottom: 0;
    left: 15%;
  }
}

.sign-inputs {
  padding-top: 10px;
  padding-bottom: 7.5%;
}

.message-box {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  left: 15%;
  width:70%;
}

.message-list {
  height: 100%;
}

.top-pad {
  padding-top: 5%;
}

.card-panel.message-bubble {
  padding: 15px;
  width: 40%;
}

.self {
  margin-left: auto;
  margin-right: 0;
  background-color: $material-red;
  color: white;
}

.row {
  #message-input {
    width: 80%;
    text-align: center;
  }
  #message-submit {
    width: 20%;
    text-align:center;
  }
}

.message-input-container {
  margin: 0 auto;
}

.side-pads {
  padding-left: 5%;
  padding-right: 5%;
}

.scrollable {
  overflow: scroll;
  height: 300px;
}